In [1]:
import pandas as pd

In [7]:
def filter_jobs_for_applicant(data_df, recommendations_df, applicant_id):
    recommended_jobs = recommendations_df.loc[recommendations_df['Applicant ID'] == applicant_id, 'Recommended Job IDs']
    if not recommended_jobs.empty:
        job_ids = recommended_jobs.iloc[0]
        return data_df[data_df['Job Id'].isin(job_ids)]
    else:
        return pd.DataFrame()  # Return an empty DataFrame if no recommendations found

In [5]:
data = pd.read_csv('./data/dataset_first_50k.csv')

In [10]:
workexres = pd.read_json('./responses/workEx/recommendations.json')

In [9]:
workexjobs = filter_jobs_for_applicant(data, workexres, 1)

In [15]:
skillsres = pd.read_json('./responses/skills/recommendations.json')
skillsres

   Applicant ID                                Recommended Job IDs
0             1  [1281959944309361, 1730939952508697, 181248059...

In [16]:
skillsjobs = filter_jobs_for_applicant(data, skillsres, 1)
skillsjobs

,Job Id,Experience,Qualifications,Salary Range,location,Country,latitude,longitude,Work Type,Company Size,...,Contact,Job Title,Role,Job Portal,Job Description,Benefits,skills,Responsibilities,Company,Company Profile
3938,476528205574523,1 to 9 Years,M.Tech,$56K-$100K,Tarawa,Kiribati,-3.3704,-168.7340,Contract,43302,...,001-820-491-8513x925,Data Engineer,Data Architect,FlexJobs,A Data Architect designs and manages data infr...,"{'Transportation Benefits, Professional Develo...",Data architecture design Database management s...,Design data architecture and systems to meet b...,Deutsche Lufthansa AG,"{""Sector"":""Aviation and Travel"",""Industry"":""Ai..."
6498,1943950680816773,0 to 8 Years,M.Com,$62K-$82K,Paramaribo,Suriname,3.9193,-56.0278,Contract,119965,...,001-478-923-5589x259,Data Engineer,Data Architect,Stack Overflow Jobs,A Data Architect designs and manages data infr...,"{'Transportation Benefits, Professional Develo...",Data architecture design Database management s...,Design data architecture and systems to meet b...,Tesco,"{""Sector"":""Retail"",""Industry"":""Retail"",""City"":..."
14654,1730939952508697,5 to 13 Years,BBA,$60K-$103K,Belmopan,Belize,17.1899,-88.4976,Intern,75341,...,855.993.2801x23906,Data Engineer,Data Architect,USAJOBS,A Data Architect designs and manages data infr...,"{'Legal Assistance, Bonuses and Incentive Prog...",Data architecture design Database management s...,Design data architecture and systems to meet b...,Microsoft,"{""Sector"":""Technology"",""Industry"":""Computer So..."
19652,1402739641334416,4 to 11 Years,MBA,$61K-$127K,Andorra la Vella,Andorra,42.5063,1.5218,Contract,88449,...,571.583.8907x77471,Data Engineer,Data Architect,Stack Overflow Jobs,A Data Architect designs and manages data infr...,"{'Life and Disability Insurance, Stock Options...",Data architecture design Database management s...,Design data architecture and systems to meet b...,AutoZone,"{""Sector"":""Automotive Parts"",""Industry"":""Speci..."
22118,1849584946264749,5 to 15 Years,BBA,$57K-$97K,Jakarta,Indonesia,-0.7893,113.9213,Intern,46940,...,001-399-678-1239x7413,Data Engineer,Data Architect,Jobs2Careers,A Data Architect designs and manages data infr...,"{'Legal Assistance, Bonuses and Incentive Prog...",Data architecture design Database management s...,Design data architecture and systems to meet b...,Siemens India,"{""Sector"":""Industrial Conglomerates"",""Industry..."
29064,2185223408638467,1 to 10 Years,B.Tech,$60K-$101K,Cockburn Town,Turks and Caicos Islands,21.6940,-71.7979,Intern,84022,...,001-925-967-7622x34903,Data Engineer,Data Architect,Idealist,A Data Architect designs and manages data infr...,"{'Employee Assistance Programs (EAP), Tuition ...",Data architecture design Database management s...,Design data architecture and systems to meet b...,Advance Auto Parts,"{""Sector"":""Automotive Parts"",""Industry"":""Speci..."
32089,2034345821344272,2 to 15 Years,PhD,$63K-$81K,Castries,St. Lucia,13.9094,-60.9789,Contract,81385,...,9992272098,Data Engineer,Data Architect,Glassdoor,A Data Architect designs and manages data infr...,"{'Tuition Reimbursement, Stock Options or Equi...",Data architecture design Database management s...,Design data architecture and systems to meet b...,Commonwealth Bank of Australia,"{""Sector"":""Banking"",""Industry"":""Banking/Financ..."
34999,2762775491366326,5 to 10 Years,BBA,$55K-$126K,Yaren District (de facto),Nauru,-0.5228,166.9315,Contract,90833,...,2336242989,Data Engineer,Data Architect,FlexJobs,A Data Architect designs and manages data infr...,"{'Tuition Reimbursement, Stock Options or Equi...",Data architecture design Database management s...,Design data architecture and systems to meet b...,M&T Bank,"{""Sector"":""Financial Services"",""Industry"":""Com..."
42916,1812480599522944,3 to 8 Years,BA,$57K-$113K,Mexico City,Mexico,23.6345,-102.5528,Full-Time,128215,...,(337)428-9147x366,Data Engineer,Data Architect,Monster,A Data Architect designs and manages data infr...,"{'Employee Referral Programs, Financial Counse...",Data architecture design Database management s...,Design data architecture and systems to meet b...,Plains GP Holdings,"{""Sector"":""Energy"",""Industry"":""Pipelines"",""Cit..."
46461,1281959944309361,4 to 8 Years,PhD,$61K-$128K,Palikir,"Micronesia, Fed. Sts.",7.4256,150.5508,Intern,76130,...,643-805-7432x485,Data Engineer,Data Architect,FlexJobs,A Data Architect designs and manages data infr...,"{'Transportation Benefits, Professional Develo...",Data architecture design Database management s...,Design data architecture and systems to meet b...,Larsen & Toubro Infotech,"{""Sector"":""Information Technology"",""Industry"":..."